Repository atos-df-rennes/prevarisc, pull requests merged in 2023-06, with the labels that each got.

#90 Vérification de l'existence du fichier squelette dans l'administration
  application/controllers/CommissionController.php
  application/views/scripts/commission/partials/partial-ligne-regle-courrier.phtml
Labels: bug

#89 Ajout d'un bouton voir plus dans l'onglet avis/dérogation
  application/controllers/DossierController.php
  application/models/DbTable/Dossier.php
  application/services/Dossier.php
  application/views/scripts/dossier/avis-et-derogations-edit.phtml
  application/views/scripts/dossier/avis-et-derogations.phtml
  application/views/scripts/dossier/results/avisderogation/liste-dossier.phtml
  public/css/main.css
  public/js/dossier/drop-list-button.js
Labels: enhancement, dossier

#93 Modification de la périodicité en années
  application/controllers/EtablissementController.php
  application/services/Etablissement.php
  application/views/scripts/etablissement/index.phtml
  application/views/scripts/tableau-des-periodicites/index.phtml
Labels: enhancement, Variable d'environnement

#87 [#4798] Ajout du mail des préventionnistes dans le rapport
  application/views/scripts/calendrier-des-commissions/generationconvoc.phtml
  application/views/scripts/calendrier-des-commissions/generationodj.phtml
  application/views/scripts/dossier/creationdoc.phtml
Labels: enhancement, dossier

#88 Suppression des références de tableau dans les foreach
  application/controllers/CalendrierDesCommissionsController.php
  application/controllers/DossierController.php
  application/controllers/FormulaireController.php
  application/services/Descriptif.php
  application/services/Formulaire.php
Labels: refactoring, etablissement, dossier

#72 Export des pièces jointes vers Plat'AU
  application/controllers/DossierController.php
  application/controllers/PieceJointeController.php
  application/controllers/PlatauController.php
  application/layouts/dossier.phtml
  application/models/DbTable/Dossier.php
  application/models/DbTable/PieceJointe.php
  application/models/DbTable/PieceJointeStatut.php
  application/models/DbTable/PlatauConsultation.php
  application/models/Enum/PlatauStatutAvis.php
  application/models/Enum/PlatauStatutPec.php
  application/models/PlatauConsultation.php
  application/models/PlatauConsultationMapper.php
  application/modules/api/configs/routes.xml
  application/services/PieceJointe.php
  application/views/scripts/dossier/index.phtml
  application/views/scripts/dossier/piecejointe.phtml
  application/views/scripts/piece-jointe/display.phtml
  application/views/scripts/piece-jointe/export.phtml
  application/views/scripts/piece-jointe/form.phtml
  application/views/scripts/piece-jointe/index.phtml
  phpstan-baseline.neon
  public/css/main.css
  public/css/pieces-jointes.css
  public/js/dossier/pieceJointe.js
  public/js/dossier/platau.js
  sql/migrations/2.x-01-platau-export-pieces-jointes.sql
  sql/migrations/2.x-02-platau-renvoi-pec-avis.sql
Labels: enhancement, platau, dossier
