Repository atos-df-rennes/prevarisc, pull requests merged in 2023-07, with the labels that each got.

#98 Ajout de l'information du local à sommeil dans l'export des établissements
  application/controllers/SearchController.php
Labels: enhancement

#99 Correction des droits pour l'ajout d'une date dans le calendrier
  application/navigation.xml
Labels: bug

#104 Ajout de boutons pour changer l'année du calendrier
  application/views/scripts/calendrier-des-commissions/index.phtml
  application/views/scripts/dossier/index.phtml
Labels: enhancement

#100 Ajout des rappels réglementaires pour la reprise des prescriptions
  application/controllers/DossierController.php
Labels: bug, dossier

#102 Ajout de champs de fusion pour les contacts
  application/controllers/DossierController.php
  application/services/Dossier.php
  application/views/scripts/dossier/creationdoc.phtml
  phpstan-baseline.neon
Labels: bug, dossier

#105 Harmonisation de l'affichage des boutons
  application/Bootstrap.php
  application/layouts/dossier.phtml
  application/services/Prescriptions.php
  application/views/scripts/calendrier-des-commissions/alertsuppression.phtml
  application/views/scripts/calendrier-des-commissions/generationcompterendu.phtml
  application/views/scripts/calendrier-des-commissions/generationconvoc.phtml
  application/views/scripts/calendrier-des-commissions/generationodj.phtml
  application/views/scripts/calendrier-des-commissions/generationpv.phtml
  application/views/scripts/calendrier-des-commissions/gestionodj.phtml
  application/views/scripts/calendrier-des-commissions/index.phtml
  application/views/scripts/changement/index.phtml
  application/views/scripts/commission/courriers.phtml
  application/views/scripts/commission/documents.phtml
  application/views/scripts/contact/index.phtml
  application/views/scripts/contact/partial_fiche.phtml
  application/views/scripts/couches-cartographiques/list.phtml
  application/views/scripts/dossier/avis-et-derogations-edit.phtml
  application/views/scripts/dossier/avis-et-derogations.phtml
  application/views/scripts/dossier/edit-verifications-techniques.phtml
  application/views/scripts/dossier/effectifs-degagements-dossier-edit.phtml
  application/views/scripts/dossier/index.phtml
  application/views/scripts/dossier/liees.phtml
  application/views/scripts/dossier/prescription.phtml
  application/views/scripts/dossier/results/avis-et-derogations.phtml
  application/views/scripts/etablissement/descriptif/edit-descriptif-personnalise.phtml
  application/views/scripts/etablissement/effectifs-degagements-etablissement-edit.phtml
  application/views/scripts/gestion-des-documents/index.phtml
  application/views/scripts/gestion-prescriptions/index.phtml
  application/views/scripts/gestion-prescriptions/showarticlecontenu.phtml
  application/views/scripts/gestion-prescriptions/showprescriptionarticle.phtml
  application/views/scripts/gestion-prescriptions/showprescriptiontexte.phtml
  application/views/scripts/gestion-textes-applicables/index.phtml
  application/views/scripts/groupement/index.phtml
  application/views/scripts/piece-jointe/index.phtml
  docs/documentation_installation.md
Labels: documentation, Style

#103 Possibilité de rechercher une adresse via son numéro
  application/controllers/SearchController.php
  application/models/DbTable/EtablissementAdresse.php
  application/modules/api/configs/routes.xml
  application/modules/api/services/Adresse.php
  application/plugins/View.php
  application/services/Adresse.php
  application/services/Search.php
  application/views/scripts/search/dossier.phtml
  phpstan-baseline.neon
  public/css/utilities.css
Labels: enhancement, etablissement, recherche

#97 Ajout d'un bouton pour réaffecter les préventionnistes d'un groupement
  application/controllers/GroupementController.php
  application/models/DbTable/EtablissementInformationsPreventionniste.php
  application/navigation.xml
  application/services/GroupementCommunes.php
  application/views/scripts/groupement/display.phtml
Labels: enhancement, etablissement

#106 Permet de désactiver les affichages Plat'AU
  application/controllers/DossierController.php
  application/controllers/ErrorController.php
  application/controllers/IndexController.php
  application/services/Dashboard.php
  application/views/scripts/error/error.phtml
  application/views/scripts/search/dossier.phtml
  docs/documentation_installation.md
  phpstan-baseline.neon
Labels: documentation, enhancement, Variable d'environnement

#108 Vérification de la connexion à Plat'AU en asynchrone
  application/controllers/IndexController.php
  application/views/scripts/commission/competences.phtml
  application/views/scripts/commission/membres.phtml
  application/views/scripts/groupement/display.phtml
  application/views/scripts/index/index.phtml
  phpstan-baseline.neon
  public/css/utilities.css
Labels: invalid, platau
