Repository atos-df-rennes/prevarisc, pull requests merged in 2024-06, with the labels that each got.

#159 feat(etablissement): affichage du descriptif original avec les formulaires personnalisés
  application/controllers/EtablissementController.php
  application/layouts/dossier.phtml
  application/views/scripts/etablissement/descriptif.phtml
  application/views/scripts/etablissement/descriptif/descriptif-personnalise.phtml
  phpstan-baseline.neon
  public/css/formulaire/descriptif.css
Labels: enhancement, etablissement

#160 style: meilleur affichage des informations des formulaires personnalisés
  application/views/scripts/formulaire/partials/partial-input-champ-not-null.phtml
  application/views/scripts/formulaire/partials/partial-input-champ-null.phtml
  application/views/scripts/formulaire/partials/partial-input-champ.phtml
  public/css/formulaire/descriptif.css
Labels: etablissement, dossier, Style

#157 feat: ajout d'un champ de type date pour les formulaires personnalisés
  application/controllers/DossierController.php
  application/controllers/EtablissementController.php
  application/services/Utils/Date.php
  application/services/Valeur.php
  application/views/scripts/calendrier-des-commissions/generationcompterendu.phtml
  application/views/scripts/calendrier-des-commissions/generationconvoc.phtml
  application/views/scripts/calendrier-des-commissions/generationodj.phtml
  application/views/scripts/calendrier-des-commissions/generationpv.phtml
  application/views/scripts/dossier/creationdoc.phtml
  application/views/scripts/formulaire/partials/partial-input-champ-not-null.phtml
  application/views/scripts/formulaire/partials/partial-input-champ-null.phtml
  application/views/scripts/formulaire/partials/partial-input-champ.phtml
  phpstan-baseline.neon
  public/css/formulaire/tableauInputParent.css
  public/css/main.css
  public/js/calendrier/today.js
  sql/migrations/2.5-52-ajout-type-champ-date.sql
  sql/migrations/d-2.5-04-parentformulaire/2.5-01-ajout-type-champ-parent.sql
  tests/services/Utils/DateTest.php
Labels: enhancement, etablissement, dossier

#161 feat: confirmation avant suppression d'un élément back des formulaires personnalisés
  application/views/scripts/formulaire/edit-champ.phtml
  application/views/scripts/formulaire/edit-rubrique.phtml
  application/views/scripts/formulaire/index.phtml
  application/views/scripts/gestion-des-documents/index.phtml
  public/js/formulaire/capsule-rubrique.js
  public/js/formulaire/rubrique.js
Labels: enhancement
