Repository atos-df-rennes/prevarisc, pull requests merged in 2024-07, with the labels that each got.

#164 feat(calendrier): nombre de dossiers affectés
  application/controllers/CalendrierDesCommissionsController.php
  application/views/scripts/calendrier-des-commissions/gestionodj.phtml
  phpstan-baseline.neon
Labels: enhancement

#158 feat(platau): ajout du temps restant pour émettre un avis
  application/controllers/DossierController.php
  application/models/DbTable/Search.php
  application/models/PlatauConsultation.php
  application/models/PlatauConsultationMapper.php
  application/services/Dashboard.php
  application/services/Search.php
  application/services/Utils/Date.php
  application/services/Utils/TempsRestant.php
  application/views/scripts/dossier/index.phtml
  application/views/scripts/search/results/dossier.phtml
  application/views/scripts/search/results/dossierTab.phtml
  sql/migrations/2.5-53-ajout-date-reponse-attendue.sql
  tests/services/Utils/TempsRestantTest.php
Labels: enhancement, platau

#163 chore: maj des packages de développement
  application/controllers/DossierController.php
  application/controllers/PieceJointeController.php
  application/controllers/SearchController.php
  application/models/DbTable/Commission.php
  application/models/DbTable/Statistiques.php
  application/services/Dossier.php
  application/services/Prescriptions.php
  application/services/User.php
  phpstan-baseline.neon
  rector.php
  tools/composer.lock
Labels: chore

#165 fix: amélioration de la navigation sur les formulaires personnalisés
  application/layouts/dashboard.phtml
  application/views/scripts/dossier/edit-verifications-techniques.phtml
  application/views/scripts/dossier/effectifs-degagements-dossier-edit.phtml
  application/views/scripts/dossier/effectifs-degagements-dossier.phtml
  application/views/scripts/dossier/verifications-techniques.phtml
  application/views/scripts/etablissement/descriptif/descriptif-personnalise.phtml
  application/views/scripts/etablissement/descriptif/edit-descriptif-personnalise.phtml
  application/views/scripts/etablissement/effectifs-degagements-etablissement-edit.phtml
  application/views/scripts/etablissement/effectifs-degagements-etablissement.phtml
  application/views/scripts/formulaire/partials/partial-edit-rubrique-display.phtml
  application/views/scripts/formulaire/partials/partial-form-custom.phtml
  application/views/scripts/formulaire/partials/partial-rubrique-display.phtml
  public/css/formulaire/descriptif.css
  public/css/main.css
  public/js/dossier/dossierGeneral.js
  public/js/main.js
Labels: bug, Style

#162 feat: date de levée pour les prescriptions
  application/controllers/DossierController.php
  application/services/Dossier.php
  application/views/scripts/dossier/prescription-edit.phtml
  application/views/scripts/dossier/prescription.phtml
  phpstan-baseline.neon
  public/css/main.css
  sql/migrations/2.5-54-levee-prescription.sql
Labels: enhancement, dossier

#166 fix: erreur affichage temps restant si date de réponse non renseignée
  application/controllers/DossierController.php
  application/services/Utils/TempsRestant.php
  application/views/scripts/dossier/index.phtml
  application/views/scripts/search/results/dossier.phtml
  application/views/scripts/search/results/dossierTab.phtml
  tests/services/Utils/TempsRestantTest.php
Labels: bug, platau, dossier, recherche

#168 fix(fusion): différencie les avis et dérogations du dossier de ceux historisés sur l'établissement
  application/controllers/CalendrierDesCommissionsController.php
  application/controllers/DossierController.php
  application/views/scripts/calendrier-des-commissions/generationcompterendu.phtml
  application/views/scripts/calendrier-des-commissions/generationconvoc.phtml
  application/views/scripts/calendrier-des-commissions/generationodj.phtml
  application/views/scripts/calendrier-des-commissions/generationpv.phtml
  application/views/scripts/dossier/creationdoc.phtml
Labels: bug, dossier
