Repository atos-df-rennes/prevarisc, pull requests merged in 2025-01, with the labels that each got.

#205 style(pieces-jointes): meilleur affichage des erreurs Plat'AU
  public/css/main.css
Labels: Style

#200 feat(dashboard): bloc des dossiers avec de nouvelles PJs
  application/services/Count.php
  application/services/Dashboard.php
  application/services/Dossier.php
  sql/migrations/2.5-59-dossiers-platau-nouveautes.sql
Labels: enhancement, platau

#207 docs: ajout d'informations sur le README
  README.md
Labels: documentation

#208 fix(platau): correction sur la commande lecture-notifications
  CHANGELOG.md
  package.json
Labels: bug

#211 fix: pas de prise en compte des dossiers supprimés dans la vue des dernières visites
  sql/migrations/2.5-36-View-dossierdernierevisite.sql
Labels: bug, dossier

#210 fix(rapports): mauvais affichage des valeurs numériques
  application/views/scripts/calendrier-des-commissions/generationcompterendu.phtml
  application/views/scripts/calendrier-des-commissions/generationconvoc.phtml
  application/views/scripts/calendrier-des-commissions/generationodj.phtml
  application/views/scripts/calendrier-des-commissions/generationpv.phtml
  application/views/scripts/dossier/creationdoc.phtml
Labels: bug, dossier

#209 fix(pieces-jointes): permet de réinitialiser le statut de pièces non envoyées sur des dossiers traités
  application/services/Dashboard.php
  sql/platau/01-reinitialisation-statut-piece.sql
Labels: bug, platau

#217 fix(etablissement): remplacement du genre EIC par BUP
  application/controllers/UsersController.php
  application/models/DbTable/Utilisateur.php
  application/plugins/ACL.php
  application/services/Dashboard.php
  application/services/Etablissement.php
  application/views/scripts/etablissement/edit.phtml
  application/views/scripts/users/ressources-specialisees.phtml
  sql/migrations/2.6-02-modification-genre-eic-bup.sql
Labels: invalid, etablissement

#218 tech: valide le titre des PRs
  .github/workflows/checkPR.yml
  tools/composer.json
  tools/composer.lock
Labels: enhancement

#219 feat(prescriptions): possibilité de reprise sans condition et de manière répétée
  application/views/scripts/dossier/prescription.phtml
Labels: enhancement, dossier

#221 chore: mise à jour des paquets de développement
  .php-cs-fixer.dist.php
  application/models/DbTable/Etablissement.php
  application/services/Etablissement.php
  tools/composer.lock
Labels: chore
